<div class="my-navbar-header">

  <!-- LOGO section-->
  <div class="my-navbar-logo">
    <a routerLink="/home" routerLinkActive="active">Logo</a>
  </div>

  <!-- MENU section-->
  <div class="my-navbar-menu">
    <a routerLink="/replylist" routerLinkActive="active">View</a>
    <a routerLink="/replycreate" routerLinkActive="active">Reply</a>
  </div>

  <!-- LOGIN section-->
  <div class="my-navbar-login">
    <a href="#"><span ></span> Login</a>
  </div>

</div>

<div style="margin-top:75px;"></div> <!--to avoid content overlay with nav bar-->
  