div.container{
    width: 80%;
    background-color: white;
}

div.my-col-right{
    text-align: right;
    background-color: lawngreen;
}

.place-holder{
    color: lightgray;
}

small.errormsg{
color: red;
}