
<my-header></my-header>

<div style="background-color:oldlace;">

    <p>Create a Reply Here</p>

<div class="container">

    <!--Row 1-->
    <div class="row">
    <!--<div style="display: block; display: table; margin:auto; background-color:red; width: 60%">-->

        <div class="col-md-2 my-col-right">
        <!--<div style="display: inline; display: table-cell; margin: auto; background-color:lightblue; text-align: right; width: 20%;">-->
            <p>Media Type: </p>
        </div>
        
        <div class="col-md-3">
        <!-- <div style="display: inline; display: table-cell; margin: auto; background-color: violet; width: 15%;">--> 
            <div *ngFor="let mediatype of mediatypes">
                <label><input type="radio" name="type"
                    [class.selected]="mediatype === selectedMediaType"
                    (click)="onSelectType(mediatype)"
                    id={{mediatype.id}}
                    value={{mediatype.id}}>{{mediatype.name}}</label>
            </div>
        </div>

        <div class="col-md-7">
            <!--SubRow 1-->
            <div class="row">
            <!--<div style="display: block; display: table; margin:auto; background-color:yellow; width: 60%; clear: both;">-->
                <div class="col-md-3 my-col-right">
                    <label>Media Source: </label>
                </div>
                <div class="col-md-9">
                    <div class="content-section implementation">
                        <p-autoComplete [(ngModel)]="ac_source" [suggestions]="ac_filteredSources" (completeMethod)="filterSources($event)" field="name" [size]="30"
                            placeholder="Enter a Media Source" [minLength]="1" [dropdown]="true" (onDropdownClick)="handleSourceDropdownClick($event)" [disabled]="acDisabled">
                        </p-autoComplete>        
                    </div>
                </div>
            </div><!--SubRow 1-->

           <!--SubRow 2-->
            <div class="row">
            <!--<div style="display: block; display: table; margin:auto; background-color:yellow; width: 60%; clear: both;">-->
                <div class="col-md-3 my-col-right">
                    <label>Category: </label>
                </div>
                <div class="col-md-9">
                    <select class="categories">
                        <option value="" disabled="disabled" selected="selected">Please select a Category</option>
                        <option *ngFor="let category of categories"
                            [class.selected]="category === selectedCategory"
                            (click)="onSelectCatergory(category)"
                            value = {{category.id}}>
                            {{category.name}}
                        </option>
                    </select>
                </div>
            </div><!--SubRow 2-->
        </div>

    <!--</div>-->
    </div><!--Row 1-->

    <!--Row 2-->
    <div class="row">
    <!--<div style="display: block; display: table; margin:auto; background-color:yellow; width: 60%; clear: both;">-->
        <div class="col-md-2 my-col-right">
        <!--<div style="display: inline; display: table-cell; margin: auto; background-color:lighgray; text-align: right; width: 20%;">-->
            Title:
        </div>
        <div class="col-md-10">
            <input type="text" name="title">
        </div>
    </div><!--Row 2-->

    <!--Row 3-->
    <div class="row">
        <div class="col-md-2 my-col-right">
            Reporter/Author:
        </div>
        <div class="col-md-10">
            <input type="text" name="author">
        </div>
    </div><!--Row 3-->

    <!--Row 4-->
    <div class="row">
        <div class="col-md-2 my-col-right">
            Date:
        </div>
        <div class="col-md-10">
            <input type="text" name="reportdate">
        </div>

        <select class="mediasources">
            <option value="" disabled="disabled" selected="selected">Please select a source</option>
            <option *ngFor="let mediasource of mediasources"
              [class.selected]="mediasource === selectedMediaSource"
              (click)="onSelectSource(mediasource)"
              value = {{mediasource.id}}>
              {{mediasource.name}}
            </option>
          </select>
    </div><!--Row 4-->

    <!--Row 5-->
    <div class="row">
        <div class="col-md-2 my-col-right">
            Reply:
        </div>
        <div class="col-md-10">
            <textarea rows="5" cols="20" style="overflow-y: scroll; resize: none;"></textarea>
        </div>
    </div><!--Row 5-->

</div><!--container-->

</div>

<my-footer></my-footer>