  div.my-navbar-footer {
    display: block;
    display: table; 
    margin: auto; 
    height: 60px;
    width: 100%;

    background-color: #555;
    }

  div.my-navbar-menu {
    display: inline;
    display: table-cell; 
    margin: auto; 
    text-align: center;
    vertical-align: middle;
    }

  a{
    color: white;
    font-size: medium;
    text-decoration: none;
    padding: 15px 20px;
    }

  a:hover{
    color: black;
    background-color:white;
    }
    
 